.fillBlank{
    background: #F8F8F8 !important;
    height: 100vh;
    max-width: 720px;
    margin: auto;
    .div-submit-success {
        position: relative;
        width: 250px;
        height: 42px;
        border-radius: 50px;
        background: #459724;
        border: none;
        margin: 18px auto;
        min-width: 250px;
        padding-left: -1px;
        .btn-submit-success {
            position: absolute;
            background: #58bd2f;
            height: 42px;
            border-radius: 50px;
            left: 1px;
            font-size: 20px;
            top: -6px;
            width: 250px;
            color: #fff;
            border: none;
        }
    }
}

.volume {
    color: #FF9701;
    padding: 0 24px 6px;
    height: 44px;
    font-size: 36px;
    border-radius: 50%;
    border: none;
    position: relative;
    top: 23px;
    z-index: 10;
    .icon {
        position: absolute;
        top: 6px;
        right: 6px;
    }
}

.title-game-2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 45px;
    color: #828282;
    padding: .25rem;
}

.input-game-2 {
    border-radius: 20px;
    margin: 134px 32px 120px;
}

.input-learn-game {
    width: 100%;
    border: none;
    outline: none;

}
 

