.adminPanel{
    display: flex;
    .adminPanel-showSideBar{
        margin-left: 280px;
    }
    .adminPanel-hideSideBar{
        margin-right: 10px;
        padding: 10px;
    }
    .adminPanel-width_outlet{

    }
}